<h3>以下の内容で、つぶやく。（投稿確認）</h3>

<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>つぶやき:<%= @post.content %></p>
  <%= form.submit  "つぶやく" %><BR>
  <%= link_to 'つぶやき入力に戻る（仮置き）', new_post_path %>
<% end %>

