

<%= form_with(model: @post, local: true ,url: confirm_posts_path) do |form| %>

    <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>つぶけませんでした！！！<BR>1-140字でつぶやいてね！</h2>
    </div>
<% end %>

<div class="blog_content">
      <%= form.label :なにをつぶやく？ %><BR>
      <%= form.text_field :content %>
</div>
    <%= form.submit %>
    <BR>
    <%= link_to 'つぶやき入力に戻る', posts_path %>
<% end %>