<!DOCTYPE html>
<html>

  <head>
    <title>Tubuyaita</title>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <header>
    <%= link_to image_tag("main_logo.png",class:"logo_image"), posts_path %>
    <ul class="top_menu clearfix">
    <li><a><%= link_to 'つぶやきをみる(一覧表示)', posts_path %></a></li>
    <li><a><%= link_to 'つぶやく！(新規投稿と投稿確認)', new_post_path %></a></li>
  </header>

  <body>
    <%= yield %>
  </body>

</html>

<footer>
	<p>Copyright &copy; 2023 OnO.</p>
</footer>
